/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

main {
  width: 960px;
  margin: 50px auto;
}

.item-list {
  margin-top: 50px;
}

.item {
  padding: 20px;
  list-style: none;
}

.item:nth-child(odd) {
  background-color: #c0c0c0;
}

div {
  display: block;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  height: 200px;
  width: 30%;
}

.box1:nth-child(1) {
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: #ffa500;
}

.box1:nth-child(2) {
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: #ffd700;
}

.box1:nth-child(3) {
  margin-bottom: 40px;
  background-color: #ffd700;
}

.box1:nth-child(4) {
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: #ffd700;
}

.box1:nth-child(5) {
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: #ffa500;
}

.box1:nth-child(6) {
  margin-bottom: 40px;
  background-color: #ffd700;
}

.box1:nth-child(7) {
  margin-right: 5%;
  background-color: #ffa500;
}

.box1:nth-child(8) {
  margin-right: 5%;
  background-color: #ffa500;
}

.box1:nth-child(9) {
  background-color: #ffd700;
}
